@@ -1,100 +0,0 @@
@charset "utf-8";
/* CSS Document */
. emu{
    position: relative;
}
.form{
	max-width: 500px;
	width: 100%;
	background: lightsteelblue;
	margin: 20px auto;
	padding: 30px;
}
body{
	background: mintcream;
}
	input[type=text] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px;
  margin-bottom: 16px;
  font-family: Arial;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px;
  margin-bottom: 16px;
  font-family: Arial;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 6px;
  margin-bottom: 16px;
  font-family: Arial;
}	
.form .elements .inputfield .textarea{
	position: relative;
	resize: none;
	height: 80px;
	width: 100%;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 6px;
	margin-bottom: 16px;
	font-family: Arial;
}
.form .elements .inputfield .selectone{
	position: relative;
	height: 37px;
	width: 100%;
}
.form .elements .inputfield .selectone select{
	-webkit-appearance: none;
	appearance: none;
	position: relative;
	resize: none;
	height: 42px;
	width: 100%;
	padding: 12px 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin: 6px;
	margin-bottom: 16px;
	font-family: Arial;;
}
	input[type=submit]:hover {
	background-color: white;
	
}
	.elements {
	margin: 0 auto;
	width: 400px;
	font-family: Arial;
}
	body h2 {
	text-align: center;
	font-family: Arial;
}
	main h1 {
	font-family: Arial;
	font-size: 15px;
	text-align: center;
}
	main h2 {
	font-family: Arial;
	font-size: 12px;
	text-align: center;
}

	.elements button {
  padding: 10px 20px;
  width: 102%;
  background-color: #2980B9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  color: white;
  
 }