@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

li, a {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
}

body {
    background: mintcream;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    background: lightsteelblue;
}

.logo {
    cursor: pointer;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
    background: lightsteelblue;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    background: lightsteelblue;
}

.nav-links li a:hover {
    color: dodgerblue;
}

h1 {
    padding: 30px 10%;
	text-align: center;
}

.accordion {
    max-width: 1000px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    background: #499CD3; 
    margin: auto;
}

.accordion-label,
.accordion-content {
    padding: 14px 20px;
    display: block;
    color: white;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
}

.accordion-label:hover {
    background: rgba(0, 0, 0, 0.1)
}

.accordion-label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;  
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
}

.accordion-content {
    background: lightsteelblue;
    line-height: 1.5;
    font-size: .85em;
    display: none;
}

.accordion-input {
    display: none;
}

.accordion-input:checked ~ .accordion-content {
    display:block;
}

.accordion-input:checked ~ .accordion-label::after {
    transform: translate(-50%) rotate(.5turn);
}
. emu{
    position: relative;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: cornsilk;
}

button:hover {
    background-color: rgba(0, 136, 169, .5);
}
