@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* Styling description input fields */
input[type=text] 
{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* Styling bsb and account number input fields */
input[type=tel] 
{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/* Styling amount input field */
input[type=number] 
{
  width: 75%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}
/*withdraw and cancel button styles*/
button[type=submit] 
{
  width: 15%;
  background-color: dodgerblue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
/* Styling on mouse over submit button change the color */
button[type=Submit]:hover 
{
  background-color: lightsteelblue;
  font-family: 'Poppins', sans-serif;
}

/* Styles in the container*/
.container1 
{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
}

/* two columns that floats next to eachother */
.column 
{
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after 
{
  content: "";
  display: table;
  clear: both;
}

/@media screen and (max-width: 600px) {
  .column, input[type=Withdraw] {
    width: 100%;
    margin-top: 0;
  }
  .column, input[type=Cancel] {
    width: 100%;
    margin-top: 0;
  }