@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@charset "utf-8";
/* CSS Document */

/*styling logo */
.logo
	{
		position: relative;
	}
/* styling header */
header 
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 5%;
		background: lightsteelblue;
	}
a 
	{
		font-family: 'Poppins', sans-serif;
		font-weight: 500;
		font-size: 18px;
		color: black;
		letter-spacing: -1px;
		display: block;
		text-decoration: none;
	}
.searchbutton input[type=text] 
	{ 
		border: none;
		padding: 6px 10px;
		margin-top: 8px;
		font-size: 17px;
		background: white;
	}
.searchbutton button
	{
	float: right;
	padding: 6px 10px;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
	border: none;
	cursor: pointer;
	background: lightsteelblue;
}
body
	{
		background: mintcream;
		font-family: 'Poppins', sans-serif;
	}
body h1 
	{
		text-align: left;
		font-family: Arial;
	}